* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

//IMPORTED VARIABLES
@import './variables';

// CLASSES
.nav-button{
    padding: 6px 20px;
    //border: 2px solid #0000ff;
    margin: 0px 10px;
    font-size: 14px;
}
.active{
    a{
        color:#0095ff !important;
        font-weight: bold !important;
        text-decoration: underline !important;
    }
    transition: 0.6s!important;
}
.selected{
    p{
        color:#0095ff;
        font-weight: bold;
        text-decoration: none;
    }
    background-color: #ffffff;
}
.hovered{
    transform: translateX(3px);
    transition: 0.15s;
    a, p{
        color: #0095ff !important;
        transition: 0.15s !important;
    }
}
.regularContainer{
    padding: 120px 0px;
    width: 100%;
    @include flexBox();
    flex-direction: column;
    text-align: center;
}
.service{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    margin: 0px 15px 30px 15px;
    width: 30%;
}
.serviceContentIcon{
    @include flexBox();
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    background-color: #0071c2;
    border-radius: 50px;
    font-size: 60px;
    color: #ffffff;
}
.serviceContentName{
    color: $dark-text;
    font-weight: bold;
    margin-bottom: 30px;
}
.serviceContentDescription{
    color: $gray-text;
    font-size: 16px;
}
.plan{
    background-color: #ffffff;
    color: $dark-text;
    margin: 15px;
    padding: 45px;
    @include flexBox();
    flex-direction: column;
    //SHADOW
    -webkit-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.2);
    box-shadow: 0px -2px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    .planName{
        @include flexBox();
        flex-direction: column;
        p{
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .price{
            padding: 30px 75px;
            background-color: $cool-blue;
            color: #ffffff;
            @include flexBox();
            flex-direction: column;
            p{
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            span{
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    .planDescription{
        padding: 10px 10px 30px 10px;
        margin-top: 20px;
        border-bottom: 1px solid #EEEEEE;
        p{
            font-size: 15px;
            color: $gray-text;
            text-align: center;
        }
    }
    .planAttributes{
        margin: 10px 0px;
        ul{
            list-style-type: none;
            li{
                padding: 12px;
                i{
                    color: $cool-blue;
                    font-size: 22px;
                }
            }
        }
    }
    a{
        position: absolute;
        bottom: -27px;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        .select-plan-button{
            background-color: $cool-blue;
            padding: 20px;
        }
    }
    .elementMiddle{
        background-image: linear-gradient(to right bottom, #042439, #042841, #052d48, #073150, #0a3658, #093a5d, #083e61, #064266, #024768, #014b6a, #03506b, #08546c);
    }
}
.feature{
    width: 45%;
    margin: 10px;
    padding: 20px;
    display: flex;
    //SHADOW
    -webkit-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.15);
    box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.15);
    .featureIcon{
        @include flexBox();
        font-size: 75px;
        margin-right: 10px;
        padding-right: 10px;
        i{
            background-image: linear-gradient(to right bottom, #042439, #042841, #052d48, #073150, #0a3658, #093a5d, #083e61, #064266, #024768, #014b6a, #03506b, #08546c);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .featureContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .featureName{
            font-size: 18px;
            font-weight: bold;
            color: $dark-text;
            text-align: left;
            padding-bottom: 10px;
        }
        .featureDescription{
            color: $gray-text;
            text-align: left;
        }
    }
}
.testimonialsCardsHolder{
    display: flex;
    width: max-content;
}
.testimonialsCard{
    @include flexBox();
    width: 1000px;
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
    overflow: hidden;
    scroll-snap-align: center;
    .testimonialIcon{
        margin-bottom: 40px;
        @include flexBox();
        width: 70px;
        height: 70px;
        background-color: $cool-blue;
        border-radius: 35px;
        i{
            font-size: 50px;
            color: #ffffff;
        }
    }
    .testimonialQuote{
        font-size: 22px;
        color: $gray-text;
        font-style: italic;
        margin-bottom: 40px;
    }
    .testimonialName{
        p{
            font-size: 20px;
            color: $dark-text;
        }
        span{
            font-size: 15px;
            color: #0071c2;
            font-weight: bold;
        }
    }
}
.buttonLeft, .buttonRight{
    @include flexBox();
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #F7F7F7;
    //SHADOW
    -webkit-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.3);
    box-shadow: -1px 2px 15px 0px rgba(0,0,0,0.3);
    font-size: 30px;
    cursor: pointer;
}
.footerInfoBlock{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    .footerInfoBlockHead{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .footerInfoBlockBody{
        font-size: 14px;
        a{
            color: #ffffff;
            text-decoration: none;
        }
        ul{
            list-style-type: none;
        }
        li{
            margin: 13px 0px;
        }
        li p{
            color: #ffffffc4;
        }
        span{
            font-weight: bold;
        }
        span, p{
            display: inline;
        }
    }
}
.error{
    display: block;
    padding: 10px;
    background-color: #ff000036;
    color: #ff0000;
    border: 1px solid #ff0000;
    margin: 10px 0px;
}
.success{
    display: block;
    padding: 10px;
    background-color: #009dff36;
    color: #004a90;
    border: 1px solid #004d90;
    margin: 10px 0px;
}
.hidden{
    display: none;
}
.radioOption{
    margin: 10px;
}
.navWhite{
    background-color: #ffffff;
    transition: 0.6s;
    #normalNavigation{
        #logo{
            a{
                color: $dark-text;
                transition: 0.6s;
            }
        }
        nav{
            a{
                color: $dark-text;
                transition: 0.6s;
            }
            .active{
                color:#0095ff;
                font-weight: bold;
                text-decoration: underline;
                transition: 0.6s;
            }
        }
    }
    #mobileNavigation{
        #logoMobile{
            a{
                color: $dark-text;
                transition: 0.6s;
            }
        }
        #hamburgerButton{
            i{
                color: $dark-text;
                transition: 0.6s;
            }
        }
        #hamburgerMenu{
            background-color: #ffffff;
            transition: 0.6s;
            #mobileNavTag{
                a{
                    color: $dark-text;
                    transition: 0.6s;
                }
            }
        }
    }
}
.flexWrapOff{
    flex-wrap: nowrap !important;
}
.mobileBlur{
    filter: blur(20px);
    -webkit-filter: blur(20px);
    transition: 0.6s;
}
.checkboxOption{
    margin: 0px 20px;         
}
.disabledCustomButton{
    opacity: 0.5;
    cursor: default !important;
}
.authorDocButtonHover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: #189fff !important;
    border: 2px solid #0042727b !important;
    transition: 0.1s;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
//HEADER
body header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.6s;
    border-bottom: 1px solid rgba(149, 149, 149, 0.6);
    position: fixed;
    z-index: 1;
    font-size: 16px;
    padding: 15px 250px;
    #normalNavigation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        #logo{
            width: 200px;
            height: 50px;
            a{
                color: #ffffff;
                text-decoration: none;
                h1{
                    font-family: 'Anurati';
                    font-size: 22px;
                }
            }
        }
        nav{
            margin-left: 250px;
            ul{
                list-style-type: none;
                display: flex;
            }
            li{
                margin: 0px 18px;
            }
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    #mobileNavigation{
        display: none;
    }
}
body main{
    /*
        INDEX PAGE CODE
    */
    transition: 0.4s;
    #bannerContainer{
        background-image: url('../images/newBack_compressed.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 800px;
        @include flexBox();
        flex-direction: column;
        #domainSearchContainer{
            padding: 20px;
            width: 50%;
            @include flexBox();
            flex-direction: column;
            h2{
                font-size: 35px;
                margin-bottom: 50px;
                color: #ffffff;
                //SHADOW
                color: rgb(255, 255, 255);
                text-shadow: rgb(0, 0, 0) 4px 3px 0px;
            }
            #searchDomain{
                display: flex;
                margin-bottom: 30px;
                #domainID{
                    border: 1px solid #ffffff;
                    background-color: rgba(255, 255, 255, 0.1);
                    font-size: 22px;
                    padding: 5px;
                    color: #ffffff;
                    width: 75%;
                }
                #submitID{
                    background-color: #0071c2;
                    color: #ffffff;
                    border: 2px solid #0071c2;
                    font-size: 18px;
                    padding: 10px;
                    margin-left: 20px;
                }
            }
            #checkDomains{
                display: flex;
                font-size: 18px;
                color: #ffffff;
                input{
                    margin: 0px 20px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    #trustContainer{
        width: 100%;
        background-color: #F7F7F7;
        @include flexBox();
        flex-direction: column;
        padding: 50px 20px;
        p{
            color: $dark-text;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 20px;
        }
        #customersContainer{
            @include flexBox();
            .customer{
                margin: 0px 50px;
                width: 10%;
                img{
                    width: 100%;
                }
            }
        }
    }
    #servicesContainer, #featuresContainer{
        width: 60%;
        #servicesHeader, #featuresHeader{
            margin-bottom: 30px;
            span{
                color: #0071c2;
                font-weight: bold;
            }
            h3{
                font-size: 32px;
                color: $dark-text;
                margin: 10px 0px;
            }
            p{
                color: $gray-text;
                font-size: 16px;
                margin: 10px 0px;
            }
        }
        #servicesBody{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 40px 20px;
        }
    }
    #hostingPlansContainer{
        width: 100%;
        height: 1000px;
        #backgroundBanner{
            position: relative;
            width: 100%;
            height: 440px;
            background-image: url('../images/background_plans.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #foregroundSection{
            position: absolute;
            width: 60%;
            #hostingPlansHeader{
                @include flexBox();
                flex-direction: column;
                color: #ffffff;
                padding: 50px;
                text-align: center;
                h3{
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 16px;
                    width: 70%;
                }
            }
            #hostingPlansBody{
                display: flex;
            }
        }
    }
    #featuresContainer{
        #featuresBody{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 100px;
        }
    }
    #testemonialsContainer{
        width: 100%;
        background-color: #F7F7F7;
        @include flexBox();
        flex-direction: column;
        padding: 100px 0px;
        position: relative;
        #testemonialsHeader{
            text-align: center;
            margin-bottom: 40px;
            span{
                color: #0071c2;
                font-weight: bold;
            }
            h3{
                font-size: 32px;
                color: $dark-text;
                margin: 10px 0px;
            }
        }
        #testemonialsBody{
            display: flex;
            align-items: center;
            width: 1000px;
            overflow: hidden;
            max-width: 100%;
            overflow: hidden;
            scroll-snap-type: both;
        }
        #testimonialsButtons{
            position: absolute;
            @include flexBox();
            justify-content: space-around;
            width: 100%;
        }
    }
    /*
        ABOUT US PAGE CODE
    */
    #genericBannerContainer{
        background-image: url('../images/generic_banner_background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        @include flexBox();
        color: #ffffff;
        text-align: center;
        #genericBannerTitle{
            h1{
                font-size: 42px;
                padding: 40px 0px 20px 0px;
            }
            p{
                font-size: 17px;
                padding: 5px 0px;
                a{
                    color: #ffffffc4;
                    text-decoration: none;
                }
            }
        }
    }
    #aboutUsContainer{
        width: 100%;
        height: 800px;
        background-color: #F7F7F7;
        @include flexBox();
        #aboutUsBox{
            width: 60%;
            display: flex;
            justify-content: center;
            #aboutUsImage{
                @include flexBox();
                width: 50%;
                padding: 0px 15px;
                img{
                    width: 430px;
                    height: 430px;
                    border-radius: 5px;
                }
                #imgAbove{
                    position: absolute;
                    display: none;
                }
                #imgBelow{
                    position: relative;
                    //SHADOW
                    -webkit-box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, 
                                        rgb(95, 184, 255) 10px 10px 0px 0px, 
                                        rgb(161, 216, 255) 15px 15px 0px 0px, 
                                        rgb(202, 230, 255) 20px 20px 0px 0px, 
                                        rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0,0,0,0); 
                    box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, 
                                rgb(95, 184, 255) 10px 10px 0px 0px, 
                                rgb(161, 216, 255) 15px 15px 0px 0px, 
                                rgb(202, 230, 255) 20px 20px 0px 0px, 
                                rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0,0,0,0);
                }
            }
            #aboutUsContent{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                width: 50%;
                padding: 20px;
                #companyBlock{
                    padding-bottom: 30px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #cacaca;
                    span{
                        color: #0071c2;
                        font-weight: bold;
                    }
                    h2{
                        font-size: 32px;
                        color: $dark-text;
                        margin: 10px 0px;
                    }
                    p{
                        color: $gray-text;
                        font-size: 15px;
                        margin: 10px 0px;
                    }
                }
                #contextSelector{
                    ul{
                        display: flex;
                        list-style-type: none;
                        li{
                            padding: 15px 20px;
                            color: $dark-text;
                            font-weight: bold;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }

                }
                #contextTextBlock{
                    width: 100%;
                    padding: 10px 20px;
                    color: $gray-text;
                    background-color: #ffffff;
                    p{
                        text-align: justify;
                        text-justify: inter-word;
                    }
                }
            }
        }
    }
    #meetUsContainer{
        width: 100%;
        height: 900px;
        @include flexBox();
        #meetUsBox{
            width: 60%;
            display: flex;
            flex-direction: column;
            #meetUsBoxHeader{
                @include flexBox();
                flex-direction: column;
                text-align: center;
                margin-bottom: 30px;
                span{
                    color: #0071c2;
                    font-weight: bold;
                }
                h3{
                    font-size: 32px;
                    color: $dark-text;
                    margin: 10px 0px;
                }
                p{
                    width: 60%;
                    color: $gray-text;
                    font-size: 16px;
                    margin: 10px 0px;
                }
            }
            #meetUsBoxBody{
                display: flex;
                justify-content: space-around;
                .colleague{
                    @include flexBox();
                    flex-direction: column;
                    margin: 10px;
                    background-color: #F7F7F7;
                    .colleagueProfilePic{
                        width: 300px;
                        height: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .colleagueInfo{
                        padding: 20px;
                        text-align: center;
                        .colleagueFullName{
                            padding: 5px;
                            font-weight: bold;
                            font-size: 18px;
                            color: $dark-text;
                        }
                        .colleagueRole{
                            padding: 5px;
                            color: $cool-blue;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    /*
        CONTACT US PAGE CODE
    */
    #contactContainer{
        width: 60%;
        display: flex;
        #formHolder{
            width: 50%;
            text-align: left;
            padding: 20px 70px 20px 0px;
            form{
                width: 100%;
                p, label{
                    font-size: 18px;
                    font-weight: bold;
                    color: $dark-text;
                }
                #inputHostingPlan, #inputDomains{
                    label{
                        font-size: initial;
                        font-weight: initial;
                    }
                }
                #inputDomains{
                    display: flex;
                    flex-direction: column;
                    #checkBoxOptionHolder{
                        display: flex;
                        justify-content: space-around;
                    }
                }
                #inputName, #inputEmail, #inputHostingPlan, #inputDomains, #inputDropdown{
                    margin: 20px 0px;
                }
                #inputDropdown #dropdownHolder select{
                    padding: 5px;
                    font-size: 15px;
                    border: 1px solid #cdcdcd;
                }
                #dropdownHolder{
                    margin: 5px 0px 15px 0px;
                }
                input, textarea{
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    padding: 12px 5px;
                    font-size: 18px;
                    border: 1px solid #cdcdcd;
                    margin: 5px 0px 15px 0px;
                    color: $dark-text;
                }
                textarea{
                    font-size: 16px;
                }
                input[type="radio"], input[type="checkbox"]{
                    width: initial;
                    max-width: initial;
                    min-width: initial;
                }
                #submitButton, #resetButton{
                    width: initial;
                    max-width: initial;
                    min-width: initial;
                    background-color: $cool-blue;
                    padding: 15px;
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: bold;
                    cursor: pointer;
                }
                textarea{
                    height: 120px;
                    resize: none;
                    overflow: auto;
                }
                ::placeholder{
                    color: #a7a7a7;
                    opacity: 1;
                }
            }
        }
        #contactInfoHolder{
            width: 50%;
            padding: 20px;
            #contactInfoHeader{
                text-align: left;
                padding-bottom: 20px;
                border-bottom: 2px solid #cacaca;
                span{
                    color: #0071c2;
                    font-weight: bold;
                }
                h3{
                    font-size: 32px;
                    color: $dark-text;
                    margin: 10px 0px;
                }
                p{
                    color: $gray-text;
                    font-size: 16px;
                    margin: 10px 0px;
                }
            }
            #contactInfoIcons{
                width: 100%;
                padding: 30px 0px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .contactInfo{
                    margin: 20px 0px;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .contactInfoIcon{
                        @include flexBox();
                        width: 70px;
                        height: 70px;
                        background-color: #0071c2;
                        border-radius: 35px;
                        font-size: 45px;
                        color: #ffffff;
                    }
                    .contactInfoText{
                        margin: 10px 0px;
                        font-size: 17px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    /*
        ABOUT AUTHOR PAGE CODE
    */
    #aboutAuthorContainer{
        width: 60%;
        @include flexBox();
        flex-direction: column;
        #aboutAuthorHead{
            margin-bottom: 65px;
            span{
                color: #0071c2;
                font-weight: bold;
            }
            h3{
                font-size: 32px;
                color: $dark-text;
                margin: 10px 0px;
            }
            p{
                color: $gray-text;
                font-size: 16px;
                margin: 10px 0px;
            }
        }
        #aboutAuthorBody{
            display: flex;
            justify-content: space-between;
            align-items: center;
            #aboutAuthorTextHolder{
                display: flex; 
                flex-direction: column;
                justify-content: center;
                width: 50%;
                #aboutAuthorText{
                    padding: 40px 0px;
                    font-size: 21px;
                    color: $dark-text;
                    border-bottom: 2px solid #cacaca;
                    a{
                        color: $cool-blue;
                        text-decoration: none;
                    }
                    a:hover{
                        color: #008ef4ac;
                        transition: 0.1s;
                    }
                }
                #documentationDownload{
                    margin: 100px 0px;
                    button{
                        padding: 20px;
                        background-color: $cool-blue;
                        color: #ffffff;
                        border: 2px solid #004372;
                        font-size: 18px;
                        border-radius: 6px;
                    }
                    button:active{
                        transform: scale(0.95);
                        transition: 0.1s;
                    }
                }
            }
            #aboutAuthorImageHolder{
                width: 50%;
                img{
                    width: 75%;
                    //SHADOW
                    -webkit-box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, 
                                        rgb(95, 184, 255) 10px 10px 0px 0px, 
                                        rgb(161, 216, 255) 15px 15px 0px 0px, 
                                        rgb(202, 230, 255) 20px 20px 0px 0px, 
                                        rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0,0,0,0); 
                    box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, 
                                rgb(95, 184, 255) 10px 10px 0px 0px, 
                                rgb(161, 216, 255) 15px 15px 0px 0px, 
                                rgb(202, 230, 255) 20px 20px 0px 0px, 
                                rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0,0,0,0);
                }
            }
        }
    }

}
body footer{
    background-image: url('../images/footer_background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    #footerBlock{
        border-bottom: 1px solid #ffffff8d;
        width: 62%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
        .footerInfoBlock:nth-child(2), .footerInfoBlock:nth-child(3){
            li:hover{
                transform: translateX(3px);
                transition: 0.15s;
                a, p{
                    font-weight: bold;
                    color: #ffffff;
                }
            }
        }
    }
    #websiteCopyright{
        margin-bottom: 30px;
        font-size: 15px;
    }
}

@import './responsive';