* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: Anurati;
  src: url("../files/fonts/Anurati-Regular.otf");
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}
::placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}

.nav-button {
  padding: 6px 20px;
  margin: 0px 10px;
  font-size: 14px;
}

.active {
  transition: 0.6s !important;
}
.active a {
  color: #0095ff !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

.selected {
  background-color: #ffffff;
}
.selected p {
  color: #0095ff;
  font-weight: bold;
  text-decoration: none;
}

.hovered {
  transform: translateX(3px);
  transition: 0.15s;
}
.hovered a, .hovered p {
  color: #0095ff !important;
  transition: 0.15s !important;
}

.regularContainer {
  padding: 120px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.service {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  margin: 0px 15px 30px 15px;
  width: 30%;
}

.serviceContentIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  background-color: #0071c2;
  border-radius: 50px;
  font-size: 60px;
  color: #ffffff;
}

.serviceContentName {
  color: #1E1E1E;
  font-weight: bold;
  margin-bottom: 30px;
}

.serviceContentDescription {
  color: #7e7e7e;
  font-size: 16px;
}

.plan {
  background-color: #ffffff;
  color: #1E1E1E;
  margin: 15px;
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px -2px 10px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.plan .planName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plan .planName p {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
}
.plan .planName .price {
  padding: 30px 75px;
  background-color: #0071c2;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plan .planName .price p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
.plan .planName .price span {
  font-size: 15px;
  font-weight: bold;
}
.plan .planDescription {
  padding: 10px 10px 30px 10px;
  margin-top: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.plan .planDescription p {
  font-size: 15px;
  color: #7e7e7e;
  text-align: center;
}
.plan .planAttributes {
  margin: 10px 0px;
}
.plan .planAttributes ul {
  list-style-type: none;
}
.plan .planAttributes ul li {
  padding: 12px;
}
.plan .planAttributes ul li i {
  color: #0071c2;
  font-size: 22px;
}
.plan a {
  position: absolute;
  bottom: -27px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.plan a .select-plan-button {
  background-color: #0071c2;
  padding: 20px;
}
.plan a:hover {
  transition: 0.1s;
  transform: scale(1.05);
}
.plan .elementMiddle {
  background-image: linear-gradient(to right bottom, #042439, #042841, #052d48, #073150, #0a3658, #093a5d, #083e61, #064266, #024768, #014b6a, #03506b, #08546c);
}

.feature {
  width: 45%;
  margin: 10px;
  padding: 20px;
  display: flex;
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
.feature .featureIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  margin-right: 10px;
  padding-right: 10px;
}
.feature .featureIcon i {
  background-image: linear-gradient(to right bottom, #042439, #042841, #052d48, #073150, #0a3658, #093a5d, #083e61, #064266, #024768, #014b6a, #03506b, #08546c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature .featureContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature .featureContent .featureName {
  font-size: 18px;
  font-weight: bold;
  color: #1E1E1E;
  text-align: left;
  padding-bottom: 10px;
}
.feature .featureContent .featureDescription {
  color: #7e7e7e;
  text-align: left;
}

.testimonialsCardsHolder {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.testimonialsCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  flex-direction: column;
  text-align: center;
  padding: 40px 30px;
  overflow: hidden;
  scroll-snap-align: center;
}
.testimonialsCard .testimonialIcon {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #0071c2;
  border-radius: 35px;
}
.testimonialsCard .testimonialIcon i {
  font-size: 50px;
  color: #ffffff;
}
.testimonialsCard .testimonialQuote {
  font-size: 22px;
  color: #7e7e7e;
  font-style: italic;
  margin-bottom: 40px;
}
.testimonialsCard .testimonialName p {
  font-size: 20px;
  color: #1E1E1E;
}
.testimonialsCard .testimonialName span {
  font-size: 15px;
  color: #0071c2;
  font-weight: bold;
}

.buttonLeft, .buttonRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #F7F7F7;
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  cursor: pointer;
}

.buttonLeft:hover, .buttonRight:hover {
  transition: 0.1s;
  background-color: rgba(0, 113, 194, 0.4862745098);
  transform: scale(1.1);
}

.buttonLeft:active, .buttonRight:active {
  background-color: rgba(0, 113, 194, 0.8392156863);
  transform: scale(0.9);
}

.footerInfoBlock {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
}
.footerInfoBlock .footerInfoBlockHead {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
}
.footerInfoBlock .footerInfoBlockBody {
  font-size: 14px;
}
.footerInfoBlock .footerInfoBlockBody a {
  color: #ffffff;
  text-decoration: none;
}
.footerInfoBlock .footerInfoBlockBody ul {
  list-style-type: none;
}
.footerInfoBlock .footerInfoBlockBody li {
  margin: 13px 0px;
}
.footerInfoBlock .footerInfoBlockBody li p {
  color: rgba(255, 255, 255, 0.768627451);
}
.footerInfoBlock .footerInfoBlockBody span {
  font-weight: bold;
}
.footerInfoBlock .footerInfoBlockBody span, .footerInfoBlock .footerInfoBlockBody p {
  display: inline;
}

.error {
  display: block;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.2117647059);
  color: #ff0000;
  border: 1px solid #ff0000;
  margin: 10px 0px;
}

.success {
  display: block;
  padding: 10px;
  background-color: rgba(0, 157, 255, 0.2117647059);
  color: #004a90;
  border: 1px solid #004d90;
  margin: 10px 0px;
}

.hidden {
  display: none;
}

.radioOption {
  margin: 10px;
}

.navWhite {
  background-color: #ffffff;
  transition: 0.6s;
}
.navWhite #normalNavigation #logo a {
  color: #1E1E1E;
  transition: 0.6s;
}
.navWhite #normalNavigation nav a {
  color: #1E1E1E;
  transition: 0.6s;
}
.navWhite #normalNavigation nav .active {
  color: #0095ff;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.6s;
}
.navWhite #mobileNavigation #logoMobile a {
  color: #1E1E1E;
  transition: 0.6s;
}
.navWhite #mobileNavigation #hamburgerButton i {
  color: #1E1E1E;
  transition: 0.6s;
}
.navWhite #mobileNavigation #hamburgerMenu {
  background-color: #ffffff;
  transition: 0.6s;
}
.navWhite #mobileNavigation #hamburgerMenu #mobileNavTag a {
  color: #1E1E1E;
  transition: 0.6s;
}

.flexWrapOff {
  flex-wrap: nowrap !important;
}

.mobileBlur {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: 0.6s;
}

.checkboxOption {
  margin: 0px 20px;
}

.disabledCustomButton {
  opacity: 0.5;
  cursor: default !important;
}

.authorDocButtonHover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #189fff !important;
  border: 2px solid rgba(0, 66, 114, 0.4823529412) !important;
  transition: 0.1s;
}

.resultsElement {
  width: 100%;
  height: 30%;
  border: 1px solid rgba(50, 50, 50, 0.504);
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
}
.resultsElement .resultImage {
  padding: 10px;
}
.resultsElement .resultImage img {
  width: 100px;
  height: 100px;
}
.resultsElement .resultText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resultsElement .resultText p {
  margin: 2px 0px;
}
.resultsElement .resultText #subJump {
  color: #0071c2;
}

.resultsElement:hover {
  transition: 0.1s;
  background-color: #cecece;
  cursor: default;
}

.availableDomain {
  color: #0071c2;
  font-weight: bold;
}

.takenDomain {
  color: #ff0000;
  font-weight: bold;
}

.wrongDomainInput {
  transition: 0.2s;
  background-color: rgba(255, 0, 0, 0.1) !important;
  border: 1px solid #ff0000 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.6s;
  border-bottom: 1px solid rgba(149, 149, 149, 0.6);
  position: fixed;
  z-index: 1;
  font-size: 16px;
  padding: 15px 250px;
}
body header #normalNavigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header #normalNavigation #logo {
  width: 200px;
  height: 50px;
}
body header #normalNavigation #logo a {
  color: #ffffff;
  text-decoration: none;
}
body header #normalNavigation #logo a h1 {
  font-family: "Anurati";
  font-size: 22px;
}
body header #normalNavigation nav {
  margin-left: 250px;
}
body header #normalNavigation nav ul {
  list-style-type: none;
  display: flex;
}
body header #normalNavigation nav li {
  margin: 0px 18px;
}
body header #normalNavigation nav a {
  color: #ffffff;
  text-decoration: none;
}
body header #mobileNavigation {
  display: none;
}

body #domainPopupContainer {
  z-index: 2;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5647058824);
  display: flex;
  align-items: center;
  justify-content: center;
}
body #domainPopupContainer #domainPopupWindow {
  background-color: #ffffff;
  width: 40%;
  height: 70%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.3);
}
body #domainPopupContainer #domainPopupWindow #domainPopupHeader {
  padding: 6px 0px;
  width: 100%;
}
body #domainPopupContainer #domainPopupWindow #domainPopupBody {
  padding: 10px 0px;
  width: 100%;
}
body #domainPopupContainer #domainPopupWindow #domainPopupBody #domainPopupMessage {
  margin-top: 10px;
}
body #domainPopupContainer #domainPopupWindow #domainPopupBody #resultsContainer {
  background-color: #F7F7F7;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
body #domainPopupContainer #domainPopupWindow #domainPopupFooter {
  padding: 15px 0px;
  text-align: center;
  width: 100%;
}
body #domainPopupContainer #domainPopupWindow #domainPopupFooter button {
  width: 30%;
  height: 45px;
  background-color: #0071c2;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
body #domainPopupContainer #domainPopupWindow #domainPopupFooter button:hover {
  background-color: #3084c0;
}

body main {
  /*      INDEX PAGE CODE     */
  transition: 0.4s;
  /*      ABOUT US PAGE CODE      */
  /*      CONTACT US PAGE CODE        */
  /*      ABOUT AUTHOR PAGE CODE      */
}
body main #bannerContainer {
  background-image: url("../images/newBack_compressed.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #bannerContainer #domainSearchContainer {
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #bannerContainer #domainSearchContainer h2 {
  font-size: 35px;
  margin-bottom: 50px;
  color: #ffffff;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 4px 3px 0px;
}
body main #bannerContainer #domainSearchContainer #searchDomain {
  display: flex;
  margin-bottom: 30px;
}
body main #bannerContainer #domainSearchContainer #searchDomain #domainID {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 22px;
  padding: 5px;
  color: #ffffff;
  width: 75%;
  transition: 0.2s;
}
body main #bannerContainer #domainSearchContainer #searchDomain #submitID {
  background-color: #0071c2;
  color: #ffffff;
  border: 2px solid #0071c2;
  font-size: 18px;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
}
body main #bannerContainer #domainSearchContainer #searchDomain #submitID:hover {
  transform: scale(1.02);
  background-color: #189fff !important;
  border: 2px solid #189fff !important;
  transition: 0.1s;
}
body main #bannerContainer #domainSearchContainer #searchDomain #submitID:active {
  transform: scale(0.98);
  background-color: #004272 !important;
  border: 2px solid #004272 !important;
}
body main #bannerContainer #domainSearchContainer #checkDomains {
  display: flex;
  font-size: 18px;
  color: #ffffff;
}
body main #bannerContainer #domainSearchContainer #checkDomains input {
  margin: 0px 20px;
  width: 18px;
  height: 18px;
}
body main #trustContainer {
  width: 100%;
  background-color: #F7F7F7;
  padding: 50px 20px;
}
body main #trustContainer p {
  text-align: center;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}
body main #trustContainer #customersContainer .customer img {
  width: 100%;
}
body main #servicesContainer, body main #featuresContainer {
  width: 60%;
}
body main #servicesContainer #servicesHeader, body main #servicesContainer #featuresHeader, body main #featuresContainer #servicesHeader, body main #featuresContainer #featuresHeader {
  margin-bottom: 30px;
}
body main #servicesContainer #servicesHeader span, body main #servicesContainer #featuresHeader span, body main #featuresContainer #servicesHeader span, body main #featuresContainer #featuresHeader span {
  color: #0071c2;
  font-weight: bold;
}
body main #servicesContainer #servicesHeader h3, body main #servicesContainer #featuresHeader h3, body main #featuresContainer #servicesHeader h3, body main #featuresContainer #featuresHeader h3 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #servicesContainer #servicesHeader p, body main #servicesContainer #featuresHeader p, body main #featuresContainer #servicesHeader p, body main #featuresContainer #featuresHeader p {
  color: #7e7e7e;
  font-size: 16px;
  margin: 10px 0px;
}
body main #servicesContainer #servicesBody, body main #featuresContainer #servicesBody {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
}
body main #hostingPlansContainer {
  width: 100%;
  height: 1000px;
}
body main #hostingPlansContainer #backgroundBanner {
  position: relative;
  width: 100%;
  height: 440px;
  background-image: url("../images/background_plans.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #hostingPlansContainer #foregroundSection {
  position: absolute;
  width: 60%;
}
body main #hostingPlansContainer #foregroundSection #hostingPlansHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}
body main #hostingPlansContainer #foregroundSection #hostingPlansHeader h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
body main #hostingPlansContainer #foregroundSection #hostingPlansHeader p {
  font-size: 16px;
  width: 70%;
}
body main #hostingPlansContainer #foregroundSection #hostingPlansBody {
  display: flex;
}
body main #featuresContainer #featuresBody {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}
body main #testemonialsContainer {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0px;
  position: relative;
}
body main #testemonialsContainer #testemonialsHeader {
  text-align: center;
  margin-bottom: 40px;
}
body main #testemonialsContainer #testemonialsHeader span {
  color: #0071c2;
  font-weight: bold;
}
body main #testemonialsContainer #testemonialsHeader h3 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #testemonialsContainer #testemonialsBody {
  display: flex;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
body main #testemonialsContainer #testimonialsButtons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
}
body main #genericBannerContainer {
  background-image: url("../images/generic_banner_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}
body main #genericBannerContainer #genericBannerTitle h1 {
  font-size: 42px;
  padding: 40px 0px 20px 0px;
}
body main #genericBannerContainer #genericBannerTitle p {
  font-size: 17px;
  padding: 5px 0px;
}
body main #genericBannerContainer #genericBannerTitle p a {
  color: rgba(255, 255, 255, 0.768627451);
  text-decoration: none;
}
body main #aboutUsContainer {
  width: 100%;
  height: 800px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #aboutUsContainer #aboutUsBox {
  width: 60%;
  display: flex;
  justify-content: center;
}
body main #aboutUsContainer #aboutUsBox #aboutUsImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0px 15px;
}
body main #aboutUsContainer #aboutUsBox #aboutUsImage img {
  width: 430px;
  height: 430px;
  border-radius: 5px;
}
body main #aboutUsContainer #aboutUsBox #aboutUsImage #imgAbove {
  position: absolute;
  display: none;
}
body main #aboutUsContainer #aboutUsBox #aboutUsImage #imgBelow {
  position: relative;
  box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, rgb(95, 184, 255) 10px 10px 0px 0px, rgb(161, 216, 255) 15px 15px 0px 0px, rgb(202, 230, 255) 20px 20px 0px 0px, rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock span {
  color: #0071c2;
  font-weight: bold;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock h2 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock p {
  color: #7e7e7e;
  font-size: 15px;
  margin: 10px 0px;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextSelector ul {
  display: flex;
  list-style-type: none;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextSelector ul li {
  padding: 15px 20px;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextTextBlock {
  width: 100%;
  padding: 10px 20px;
  color: #7e7e7e;
  background-color: #ffffff;
}
body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextTextBlock p {
  text-align: justify;
  text-justify: inter-word;
}
body main #meetUsContainer {
  width: 100%;
  height: auto;
  padding: 130px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #meetUsContainer #meetUsBox {
  width: 60%;
  display: flex;
  flex-direction: column;
}
body main #meetUsContainer #meetUsBox #meetUsBoxHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
body main #meetUsContainer #meetUsBox #meetUsBoxHeader span {
  color: #0071c2;
  font-weight: bold;
}
body main #meetUsContainer #meetUsBox #meetUsBoxHeader h3 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #meetUsContainer #meetUsBox #meetUsBoxHeader p {
  width: 60%;
  color: #7e7e7e;
  font-size: 16px;
  margin: 10px 0px;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody #meetUsBoxB-Below {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody #meetUsBoxB-Below #meetUsBoxB-Above {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody #meetUsBoxB-Below #meetUsBoxB-Above #meetUsButtons {
  width: 300%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  background-color: #f7f7f7;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague .colleagueProfilePic {
  width: 300px;
  height: 300px;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague .colleagueProfilePic img {
  width: 100%;
  height: 100%;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague .colleagueInfo {
  padding: 20px;
  text-align: center;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague .colleagueInfo .colleagueFullName {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #1E1E1E;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .colleague .colleagueInfo .colleagueRole {
  padding: 5px;
  color: #0071c2;
  font-size: 15px;
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .active-colleague {
  transform: scale(1);
  opacity: 100%;
  box-shadow: -1px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
body main #meetUsContainer #meetUsBox #meetUsBoxBody .inactive-colleague {
  transform: scale(0.7);
  opacity: 60%;
  filter: blur(2px);
}
body main #contactContainer {
  width: 60%;
  display: flex;
}
body main #contactContainer #formHolder {
  width: 50%;
  text-align: left;
  padding: 20px 70px 20px 0px;
}
body main #contactContainer #formHolder form {
  width: 100%;
}
body main #contactContainer #formHolder form p, body main #contactContainer #formHolder form label {
  font-size: 18px;
  font-weight: bold;
  color: #1E1E1E;
}
body main #contactContainer #formHolder form #inputHostingPlan label, body main #contactContainer #formHolder form #inputDomains label {
  font-size: initial;
  font-weight: initial;
}
body main #contactContainer #formHolder form #inputDomains {
  display: flex;
  flex-direction: column;
}
body main #contactContainer #formHolder form #inputDomains #checkBoxOptionHolder {
  display: flex;
  justify-content: space-around;
}
body main #contactContainer #formHolder form #inputName, body main #contactContainer #formHolder form #inputEmail, body main #contactContainer #formHolder form #inputHostingPlan, body main #contactContainer #formHolder form #inputDomains, body main #contactContainer #formHolder form #inputDropdown {
  margin: 20px 0px;
}
body main #contactContainer #formHolder form #inputDropdown #dropdownHolder select {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #cdcdcd;
}
body main #contactContainer #formHolder form #dropdownHolder {
  margin: 5px 0px 15px 0px;
}
body main #contactContainer #formHolder form input, body main #contactContainer #formHolder form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 5px;
  font-size: 18px;
  border: 1px solid #cdcdcd;
  margin: 5px 0px 15px 0px;
  color: #1E1E1E;
}
body main #contactContainer #formHolder form textarea {
  font-size: 16px;
}
body main #contactContainer #formHolder form input[type=radio], body main #contactContainer #formHolder form input[type=checkbox] {
  width: initial;
  max-width: initial;
  min-width: initial;
}
body main #contactContainer #formHolder form #submitButton, body main #contactContainer #formHolder form #resetButton {
  width: initial;
  max-width: initial;
  min-width: initial;
  background-color: #0071c2;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
body main #contactContainer #formHolder form textarea {
  height: 120px;
  resize: none;
  overflow: auto;
}
body main #contactContainer #formHolder form ::-moz-placeholder {
  color: #a7a7a7;
  opacity: 1;
}
body main #contactContainer #formHolder form :-ms-input-placeholder {
  color: #a7a7a7;
  opacity: 1;
}
body main #contactContainer #formHolder form ::placeholder {
  color: #a7a7a7;
  opacity: 1;
}
body main #contactContainer #contactInfoHolder {
  width: 50%;
  padding: 20px;
}
body main #contactContainer #contactInfoHolder #contactInfoHeader {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 2px solid #cacaca;
}
body main #contactContainer #contactInfoHolder #contactInfoHeader span {
  color: #0071c2;
  font-weight: bold;
}
body main #contactContainer #contactInfoHolder #contactInfoHeader h3 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #contactContainer #contactInfoHolder #contactInfoHeader p {
  color: #7e7e7e;
  font-size: 16px;
  margin: 10px 0px;
}
body main #contactContainer #contactInfoHolder #contactInfoIcons {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo {
  margin: 20px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #0071c2;
  border-radius: 35px;
  font-size: 45px;
  color: #ffffff;
}
body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoText {
  margin: 10px 0px;
  font-size: 17px;
  font-weight: bold;
}
body main #aboutAuthorContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #aboutAuthorContainer #aboutAuthorHead {
  margin-bottom: 65px;
}
body main #aboutAuthorContainer #aboutAuthorHead span {
  color: #0071c2;
  font-weight: bold;
}
body main #aboutAuthorContainer #aboutAuthorHead h3 {
  font-size: 32px;
  color: #1E1E1E;
  margin: 10px 0px;
}
body main #aboutAuthorContainer #aboutAuthorHead p {
  color: #7e7e7e;
  font-size: 16px;
  margin: 10px 0px;
}
body main #aboutAuthorContainer #aboutAuthorBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #aboutAuthorText {
  padding: 40px 0px;
  font-size: 21px;
  color: #1E1E1E;
  border-bottom: 2px solid #cacaca;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #aboutAuthorText a {
  color: #0071c2;
  text-decoration: none;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #aboutAuthorText a:hover {
  color: rgba(0, 142, 244, 0.6745098039);
  transition: 0.1s;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload {
  margin: 100px 0px;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload button {
  padding: 20px;
  background-color: #0071c2;
  color: #ffffff;
  border: 2px solid #004372;
  font-size: 18px;
  border-radius: 6px;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload button:active {
  transform: scale(0.95);
  transition: 0.1s;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorImageHolder {
  width: 50%;
}
body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorImageHolder img {
  width: 75%;
  box-shadow: rgb(40, 159, 237) 5px 5px 0px 0px, rgb(95, 184, 255) 10px 10px 0px 0px, rgb(161, 216, 255) 15px 15px 0px 0px, rgb(202, 230, 255) 20px 20px 0px 0px, rgb(225, 238, 255) 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

body footer {
  background-image: url("../images/footer_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body footer #footerBlock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5529411765);
  width: 62%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
body footer #footerBlock .footerInfoBlock:nth-child(2) li:hover, body footer #footerBlock .footerInfoBlock:nth-child(3) li:hover {
  transform: translateX(3px);
  transition: 0.15s;
}
body footer #footerBlock .footerInfoBlock:nth-child(2) li:hover a, body footer #footerBlock .footerInfoBlock:nth-child(2) li:hover p, body footer #footerBlock .footerInfoBlock:nth-child(3) li:hover a, body footer #footerBlock .footerInfoBlock:nth-child(3) li:hover p {
  font-weight: bold;
  color: #ffffff;
}
body footer #websiteCopyright {
  margin-bottom: 30px;
  font-size: 15px;
}

@font-face {
  font-family: Anurati;
  src: url("../files/fonts/Anurati-Regular.otf");
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}
::placeholder {
  color: rgba(255, 255, 255, 0.768627451);
  opacity: 1;
}

@media screen and (max-width: 1441px) {
  .service {
    padding: 50px 10px;
  }
  .flexWrapOff .service {
    width: inherit;
  }
  body header {
    padding: 15px 150px;
    position: fixed;
    top: 0;
    left: 0;
  }
  body #domainPopupContainer #domainPopupWindow {
    width: 50%;
    height: 65%;
    padding: 25px;
    justify-content: space-around;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupBody #resultsContainer {
    height: 370px;
  }
  body main #servicesContainer, body main #featuresContainer {
    width: 75%;
  }
  body main #hostingPlansContainer #foregroundSection {
    width: 80%;
  }
  body main #aboutUsContainer > #aboutUsBox, body main #meetUsContainer > #meetUsBox, body main #contactContainer, body main #aboutAuthorContainer {
    width: 70%;
  }
  body main #testemonialsContainer #testimonialsButtons {
    justify-content: space-between;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft {
    margin-left: 200px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonRight {
    margin-right: 200px;
  }
  body footer #footerBlock {
    width: 70%;
  }
}
@media screen and (max-width: 1025px) {
  .service {
    padding: 30px 10px;
  }
  .service .serviceContentIcon {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    font-size: 50px;
  }
  .service .serviceContentDescription {
    font-size: 14px;
  }
  .plan {
    margin: 10px;
    padding: 20px 10px;
  }
  .plan .planName .price {
    padding: 25px 45px;
  }
  .plan .planName .price p {
    font-size: 26px;
  }
  .plan .planName .price span {
    font-size: 12px;
  }
  .plan .planDescription p {
    font-size: 14px;
  }
  .plan .planAttributes ul li {
    padding: 10px;
  }
  .plan .planAttributes ul li p {
    font-size: 15px;
  }
  .plan a {
    bottom: -25px;
  }
  .feature {
    padding: 10px;
  }
  .feature .featureIcon {
    font-size: 65px;
    margin-right: 5px;
    padding-right: 0px;
  }
  .feature .featureContent .featureName {
    font-size: 16px;
  }
  .feature .featureContent .featureDescription {
    font-size: 14px;
  }
  .colleague {
    margin: 25px !important;
  }
  .colleagueProfilePic {
    width: 220px !important;
    height: 220px !important;
  }
  .responsiveWidth {
    justify-content: space-between !important;
    padding: 40px 0px !important;
  }
  .responsiveWidth .service {
    width: 28%;
  }
  .contactInfoIcon {
    width: 60px !important;
    height: 60px !important;
    font-size: 35px !important;
  }
  .contactInfoText {
    font-size: 15px !important;
  }
  body header {
    padding: 15px 5px;
    font-size: 14px;
    justify-content: center;
  }
  body header #logo {
    width: 200px;
    height: 50px;
  }
  body header #logo a h1 {
    font-size: 20px;
  }
  body #domainPopupContainer #domainPopupWindow {
    width: 65%;
    height: 70%;
    padding: 20px;
  }
  body main #bannerContainer {
    height: 100vh;
  }
  body main #bannerContainer #domainSearchContainer {
    width: 70%;
  }
  body main #bannerContainer #domainSearchContainer h2 {
    font-size: 32px;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain #domainID {
    padding: 3px;
    font-size: 21px;
  }
  body main #hostingPlansContainer {
    height: 900px;
  }
  body main #hostingPlansContainer #backgroundBanner {
    height: 380px;
  }
  body main #hostingPlansContainer #foregroundSection {
    width: 80%;
  }
  body main #hostingPlansContainer #foregroundSection #hostingPlansHeader {
    padding: 50px 20px;
  }
  body main #hostingPlansContainer #foregroundSection #hostingPlansHeader p {
    width: 90%;
  }
  body main #testemonialsContainer #testemonialsBody {
    width: 750px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard {
    width: 750px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon i {
    font-size: 40px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialQuote {
    font-size: 19px;
    margin-bottom: 40px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName p {
    font-size: 18px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName span {
    font-size: 14px;
  }
  body main #testemonialsContainer #testimonialsButtons {
    justify-content: space-between;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft, body main #testemonialsContainer #testimonialsButtons .buttonRight {
    width: 45px;
    height: 45px;
    font-size: 26px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft {
    margin-left: 130px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonRight {
    margin-right: 130px;
  }
  body main #genericBannerContainer {
    height: 450px;
  }
  body main #genericBannerContainer #genericBannerTitle h1 {
    font-size: 39px;
  }
  body main #genericBannerContainer #genericBannerTitle p {
    font-size: 15px;
  }
  body main #aboutUsContainer {
    height: 650px;
  }
  body main #aboutUsContainer #aboutUsBox {
    width: 90%;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage {
    padding: 0px 5px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage img {
    width: 400px;
    height: 400px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent {
    padding: 20px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock h2 {
    font-size: 29px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock p {
    font-size: 13px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextSelector ul li {
    font-size: 15px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextTextBlock {
    padding: 10px 20px;
    font-size: 14px;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxHeader p {
    width: 90%;
  }
  body main #contactContainer {
    width: 80%;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader h2 {
    font-size: 29px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader p {
    font-size: 13px;
  }
  body main #aboutAuthorContainer {
    width: 80%;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #aboutAuthorText {
    font-size: 18px;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload button {
    padding: 16px;
    font-size: 15px;
  }
  body footer #footerBlock {
    width: 85%;
  }
}
@media screen and (max-width: 769px) {
  .flexWrapOff {
    flex-wrap: wrap !important;
  }
  .service .serviceContentName {
    font-size: 22px;
  }
  .service .serviceContentDescription {
    font-size: 19px;
  }
  .active {
    background-color: rgba(0, 127, 217, 0.1882352941) !important;
  }
  .active a {
    text-decoration: none !important;
  }
  body header {
    padding: 20px 30px;
  }
  body header #normalNavigation {
    display: none;
  }
  body header #mobileNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body header #mobileNavigation #logoMobile {
    width: 200px;
  }
  body header #mobileNavigation #logoMobile a {
    color: #ffffff;
    text-decoration: none;
  }
  body header #mobileNavigation #logoMobile a h1 {
    font-family: "Anurati";
    font-size: 30px;
  }
  body header #mobileNavigation #hamburgerButton i {
    color: #ffffff;
    padding: 10px;
    font-size: 60px;
    border: 1px solid rgba(149, 149, 149, 0.6);
  }
  body header #mobileNavigation #hamburgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(149, 149, 149, 0.6);
    transition: 0.6s;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag {
    width: 100%;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag ul li {
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    padding: 16px;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
  }
  body #domainPopupContainer #domainPopupWindow {
    width: 80%;
    height: 65%;
    padding: 25px;
    justify-content: space-around;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupBody #resultsContainer {
    height: 370px;
  }
  body main #bannerContainer #domainSearchContainer {
    width: 100%;
  }
  body main #bannerContainer #domainSearchContainer h2 {
    font-size: 42px;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain #domainID {
    padding: 10px;
    font-size: 36px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain #submitID {
    font-size: 22px;
    padding: 15px;
    margin: 0px;
  }
  body main #bannerContainer #domainSearchContainer #checkDomains input {
    width: 30px;
    height: 30px;
  }
  body main #servicesContainer {
    width: 90%;
  }
  body main #servicesContainer #servicesHeader span {
    font-size: 20px;
  }
  body main #servicesContainer #servicesHeader h3 {
    font-size: 40px;
  }
  body main #servicesContainer #servicesHeader p {
    font-size: 20px;
    margin: 10px 0px;
  }
  body main #servicesContainer .responsiveWidth .service {
    width: 100%;
  }
  body main #hostingPlansContainer #foregroundSection {
    width: 100%;
  }
  body main #hostingPlansContainer #foregroundSection #hostingPlansHeader {
    padding: 35px 20px;
  }
  body main #hostingPlansContainer #foregroundSection #hostingPlansHeader h3 {
    font-size: 40px;
  }
  body main #hostingPlansContainer #foregroundSection #hostingPlansHeader p {
    width: 100%;
    font-size: 20px;
  }
  body main #testemonialsContainer #testemonialsHeader {
    margin-bottom: 20px;
  }
  body main #testemonialsContainer #testemonialsBody {
    width: 600px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard {
    width: 600px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon {
    margin-bottom: 40px;
    width: 55px;
    height: 55px;
    border-radius: 27px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon i {
    font-size: 40px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialQuote {
    font-size: 18px;
    margin-bottom: 36px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName p {
    font-size: 16px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName span {
    font-size: 13px;
  }
  body main #testemonialsContainer #testimonialsButtons {
    justify-content: space-between;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft, body main #testemonialsContainer #testimonialsButtons .buttonRight {
    width: 45px;
    height: 45px;
    font-size: 26px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft {
    margin-left: 70px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonRight {
    margin-right: 70px;
  }
  body main #featuresContainer {
    width: 100%;
  }
  body main #featuresContainer #featuresHeader span {
    font-size: 20px;
  }
  body main #featuresContainer #featuresHeader h3 {
    font-size: 40px;
  }
  body main #aboutUsContainer #aboutUsBox {
    width: 100%;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage {
    width: 50%;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage img {
    width: 350px;
    height: 350px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent {
    width: 50%;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextSelector ul li {
    font-size: 14px;
  }
  body main #meetUsContainer #meetUsBox {
    width: 100%;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxHeader span {
    font-size: 20px;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxHeader h3 {
    font-size: 40px;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxHeader p {
    font-size: 20px;
    margin: 10px 0px;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxBody #meetUsBoxB-Below #meetUsBoxB-Above #meetUsButtons {
    width: 240%;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxBody .inactive-colleague {
    opacity: 50%;
  }
  body main #contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  body main #contactContainer #formHolder {
    width: 90%;
    padding: 20px;
  }
  body main #contactContainer #contactInfoHolder {
    width: 90%;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader span {
    font-size: 20px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader h3 {
    font-size: 40px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader p {
    font-size: 20px;
    margin: 10px 0px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons {
    border-bottom: 1px solid #cacaca;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoIcon {
    width: 90px !important;
    height: 90px !important;
    background-color: #0071c2;
    border-radius: 45px;
    font-size: 57px !important;
    color: #ffffff;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoText {
    margin: 10px 0px;
    font-size: 19px !important;
    font-weight: bold;
  }
  body main #aboutAuthorContainer {
    width: 90%;
  }
  body main #aboutAuthorContainer #aboutAuthorHead span {
    font-size: 20px;
  }
  body main #aboutAuthorContainer #aboutAuthorHead h3 {
    font-size: 40px;
  }
  body main #aboutAuthorContainer #aboutAuthorHead p {
    font-size: 20px;
    margin: 10px 0px;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #aboutAuthorText {
    font-size: 20px;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload {
    margin: 65px 0px;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorImageHolder img {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .feature {
    width: 100%;
    margin: 20px 10px;
  }
  .plan {
    width: 95%;
    margin: 30px 0px;
  }
  .plan .planAttributes {
    margin: 10px 0px 30px 0px;
  }
  .footerInfoBlock {
    width: 100%;
    margin: 10px 0px;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
  }
  .footerInfoBlock .footerInfoBlockBody ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footerInfoBlock .footerInfoBlockBody ul li {
    width: 50%;
  }
  .resultsElement {
    height: 36%;
  }
  body header {
    padding: 10px 20px;
  }
  body header #mobileNavigation #logoMobile a h1 {
    font-family: "Anurati";
    font-size: 26px;
  }
  body header #mobileNavigation #hamburgerButton i {
    font-size: 50px;
  }
  body header #mobileNavigation #hamburgerMenu {
    top: 92px;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag {
    width: 100%;
  }
  body header #mobileNavigation #hamburgerMenu #mobileNavTag ul li a {
    font-size: 30px;
  }
  body #domainPopupContainer #domainPopupWindow {
    width: 90%;
    height: 85%;
    padding: 20px;
    justify-content: space-between;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupHeader {
    width: 80%;
    font-size: 14px;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupBody {
    font-size: 14px;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupFooter button {
    width: 70%;
    height: 45px;
    background-color: #0071c2;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  body #domainPopupContainer #domainPopupWindow #domainPopupFooter button:hover {
    background-color: #3084c0;
  }
  body main #bannerContainer #domainSearchContainer h2 {
    font-size: 32px;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain #domainID {
    padding: 6px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  body main #bannerContainer #domainSearchContainer #searchDomain #submitID {
    font-size: 18px;
    padding: 10px;
  }
  body main #bannerContainer #domainSearchContainer #checkDomains {
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
  }
  body main #bannerContainer #domainSearchContainer #checkDomains input {
    width: 20px;
    height: 20px;
  }
  body main #customersContainer {
    width: 100%;
  }
  body main #featuresContainer #featuresBody {
    margin-top: 30px;
  }
  body main #hostingPlansContainer {
    height: 2300px;
  }
  body main #hostingPlansContainer #backgroundBanner #foregroundSection #hostingPlansHeader p {
    font-size: 18px;
  }
  body main #hostingPlansContainer #backgroundBanner #foregroundSection #hostingPlansBody {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main #testemonialsContainer #testemonialsHeader {
    margin-bottom: 15px;
  }
  body main #testemonialsContainer #testemonialsBody {
    width: 350px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard {
    width: 350px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon {
    margin-bottom: 40px;
    width: 55px;
    height: 55px;
    border-radius: 27px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialIcon i {
    font-size: 40px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialQuote {
    font-size: 18px;
    margin-bottom: 36px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName p {
    font-size: 18px;
  }
  body main #testemonialsContainer #testemonialsBody .testimonialsCard .testimonialName span {
    font-size: 15px;
  }
  body main #testemonialsContainer #testimonialsButtons {
    justify-content: space-between;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft, body main #testemonialsContainer #testimonialsButtons .buttonRight {
    width: 35px;
    height: 35px;
    font-size: 22px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonLeft {
    margin-left: 20px;
  }
  body main #testemonialsContainer #testimonialsButtons .buttonRight {
    margin-right: 20px;
  }
  body main #aboutUsContainer {
    height: auto;
  }
  body main #aboutUsContainer #aboutUsBox {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage {
    width: 100%;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsImage img {
    width: 300px;
    height: 300px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent {
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #companyBlock {
    text-align: center;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextSelector ul li {
    font-size: 16px;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextTextBlock {
    width: 100%;
    padding: 10px 20px;
    color: #7e7e7e;
    background-color: #ffffff;
  }
  body main #aboutUsContainer #aboutUsBox #aboutUsContent #contextTextBlock p {
    text-align: justify;
    text-justify: inter-word;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxBody {
    width: 100%;
    overflow: hidden;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxBody #meetUsBoxB-Below #meetUsBoxB-Above #meetUsButtons {
    width: 120%;
  }
  body main #meetUsContainer #meetUsBox #meetUsBoxBody .inactive-colleague {
    opacity: 40%;
  }
  body main #contactContainer #formHolder {
    width: 100%;
    padding: 10px;
  }
  body main #contactContainer #formHolder form #submitButton, body main #contactContainer #formHolder form #resetButton {
    width: 100%;
  }
  body main #contactContainer #contactInfoHolder {
    width: 100%;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader span {
    font-size: 20px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader h3 {
    font-size: 32px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoHeader p {
    font-size: 17px;
    margin: 10px 0px;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons {
    border-bottom: 1px solid #cacaca;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoIcon {
    width: 75px !important;
    height: 75px !important;
    background-color: #0071c2;
    border-radius: 37px;
    font-size: 44px !important;
    color: #ffffff;
  }
  body main #contactContainer #contactInfoHolder #contactInfoIcons .contactInfo .contactInfoText {
    margin: 10px 0px;
    font-size: 15px !important;
    font-weight: bold;
  }
  body main #aboutAuthorContainer #aboutAuthorBody {
    flex-direction: column-reverse;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder #documentationDownload button {
    padding: 14px;
    font-size: 18px;
  }
  body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorTextHolder, body main #aboutAuthorContainer #aboutAuthorBody #aboutAuthorImageHolder {
    width: 100%;
  }
  body footer {
    height: auto;
  }
  body footer #footerBlock {
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  body footer #websiteCopyright {
    margin: 20px 0px;
  }
}/*# sourceMappingURL=style.css.map */
